*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;

    background-image: url("background.jpg");
    background-size:cover;

    position: relative;
}

.main-div.dialog-div{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5px;
    padding-bottom: 5px;
}

.dialog-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: collapse;
}

.dialog-panel{
    background: rgba(255,255,255,0.7);
    border-radius: 15px;
}

.add-item-div{
    width: 50%;
    height: 10%;
    border: 1px solid gray;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 48px
}

.add-item-div:hover{
    background: white;
}

.add-item-div:active{
    background: gray;
}

.top-bar{
    display: flex;

    font-size: 48px;
    cursor: pointer;
    user-select: none; /* 设置文本不能被选中 */
}

.item{
    font-size: 32px;
}

.top-bar, .item{
    height: 10%;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px; /* 圆角大小 */
    background: rgba(255,255,255,0.5);
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    text-align: center; /* 如果是纯文本内容，确保文本居中 */
}

input:focus{
    border-color: gray;
    outline: none;
}